services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "11182:11182"
    volumes:
      - ..:/app
      - ../db:/app/db
    env_file:
      - ../.env
    environment:
      - FLASK_DEBUG=True
      - FLASK_ENV=development
    restart: unless-stopped
